.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: #282c34;
  height: 60px;

  color: white;
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  float: left;
  padding-top: 16px;
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/


.nav {
  padding: 12px 48px 0 48px;
}