@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy');
body{
  background: url("../assets/images/250fed2ae2ff8059536a5ec545ed23c8_副本.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

.App {
  text-align: center;
  position: relative; 
   
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color:#121b30;
  height: 80px;

  color: white;
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}
@font-face {
  font-family: 'YourFontName'; /*a name to be used later*/
  src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}
/*
.Page{
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  height:100%;
}
*/


.App-title {
  font-size: 4em;
  margin: 10;
  float: left;
  padding-top: 10px;
  color: #fff;
}
.satisfy{
  font-family:  'Satisfy', cursive;
}


.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/


.nav {
  display: flex;
  padding: 0 px 10px 0 10px;
}
#nav_contain{
  top: 5px;
  border-radius: 4px;
  border-width: 3px;
  position: absolute;
 
  left: 100px;
  background-color: white;
}

.register-item{
  color: #61dafb;
}
.top_container{
  border-top-style: line;
  top:48px;
  border-top-color: #9a9ea7;
  border-width: 4px;
  position: relative;
  height:500px;
  width:"100%";
  display:"flex";
 
}
