body{ 
  background: url("../assets/images/QJ6606211854.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: #282c34;
  height: 80px;

  color: white;
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

.App-title {
  font-size: 4em;
  font-family: " fantasy";
  font-weight: 600;
  margin: 10;
  float: left;
  padding-top: 10px;
  color: #40a9ff;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/


.nav {
  padding: 12px 48px 0 48px;
}

.register-item{
  color: #61dafb;
}