.Autocomplete {
    position:absolute;
    border-radius: 5px;
    font-size: 18px;
    left:0px;
    margin-top: 10px;

}
.Generate {
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
}
.input {
    
    height:42px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 20px;
    width: 20px;
}
