.Autocomplete {
    position:absolute;
    border-radius: 5px;
    font-size: 18px;
    left:0px;
    margin-top: 10px;

}
.Generate {

    width: 150px;
    border-radius: 5px;
    font-size: 20px;
}
.input {
    
    height:40px;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 18px;
    width: 10px;
}
