.info{
   position: absolute;

   margin-left: 20px;
   overflow: auto;
   background: rgba(18, 27, 48, 0.8);;
   width: 460px;
   padding: 50px;
   padding-top:25px;

   
}
#overview-info{
   left: 75%;
   height: 300px;
}

#plan-info{
   left:75%;
   height: 800px;
}