.login-form {

    width: 350px;
    margin: auto;
}

.login-form-button {
    width: 100%;
}

.login_container{
    position: absolute;
    background-color:#121b30;
    top: 20%;
    left:38%;
    height: 250px;
    width: 450px;
    padding: 50px;
    padding-top:25px;
    border-radius: 10px;
    opacity: 0.8;
 
}

.main_page{
    height: 100%;
    width: 100%;


}

.videoTag{
    top:0px;
    height: 100%;
    width: 100%;
}