.login-form {
    max-width: 300px;
    margin: auto;
}

.login-form-button {
    width: 100%;
}

.login_container{
  padding: 20px;
  width: 30%;
  border-radius: 25px;
  border: 2px solid white;
  background-color:  #282c34;
  margin-left: auto;
  margin-right: auto;
}