.login-form {
    max-width: 300px;
    margin: auto;
}

.login-form-button {
    width: 100%;
}

.login_container{
  padding: 20px;
  width: 30%;
  border-radius: 25px;
  border: 2px solid white;
  background-color:  #282c34;
  margin-left: auto;
  margin-right: auto;
 
}
.main_page{
  padding: 30px;
  background-image: url("../assets/images/250fed2ae2ff8059536a5ec545ed23c8.jpg");
  height: 700px;
}