@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.items-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    fontSize:"50px";
    fontWeight:'1000'
}

.sortableComponent {
    marginLeft: auto;
    marginRight: auto;
}