.ant-collapse-header{
  color : #FFE4E1 !important;
  font-size: 20px;
}

.ant-card-head-title{
  color : #FFE4E1 !important;

}

.ant-card-body{
  color : #FFE4E1 !important;

}

.ant-card-bordered{
    border: 0px !important;
}

