
.ant-collapse-header{
  color : rgb(255, 255, 255) !important;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  opacity:1;

}

.ant-card-head-title{
  color : rgb(255, 255, 255) !important;

}

.ant-card-body{
  color : rgb(12, 12, 12) !important;

}

.ant-card-bordered{
    border: 1px !important;
}

