.Swimlane-title {
  font-family: 'Anton', sans-serif;
  border-bottom-style: solid;
  border-bottom-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color :  white;
}
  

.Swimlane-column {
  border-radius:25px;
  
}

.Swimlane-dragColumn {
  height: auto;
  overflow-y: auto;
  padding: 16px 8px;

}
