.Swimlane-title {
  font-family: 'Oleo Script', cursive;
  border-bottom-style: solid;
  border-bottom-color: #282c34;
  text-align: mid;
  font-weight: bold;
  font-size: 30px;
  color :  #282c34;
}
  

.Swimlane-column {
  border-radius:25px;
  
}

.Swimlane-dragColumn {
  height: auto;
  overflow-y: auto;
  padding: 16px 8px;

}
