


.Dropdown {
    float: left;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    width: 500px;
}
.div {
    display: inline-block;

}
.Address {
    float: left;
    height: 40px;
    display: inline-block;
    width: 500px;
}