.travel-marker-image {
    height: 120px;
    width: 150px;
}

.test {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.right-click-icon {
    height: 15px;
    width:15px;
    position: relative;
    top: -5px;
}