@import '../node_modules/antd/dist/antd.css';
@import 'styles/App.css';
@import 'styles/TravelMarker.css';
@import 'styles/Main.css';
@import 'styles/Register.css';
@import 'styles/Login.css';
@import 'styles/Header.css';
@import 'styles/map_container.css';
@import 'styles/info_option_panel.css';
@import 'styles/color.css';
@import 'styles/fonts.css';
@import'styles/SortbleList.css';
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./assets/images/NYCPage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  margin:0;
  padding:0;

}